$fooWid:(
    wi1: 100%,
    wi2: 2rem,
);

$wi1: map-get($fooWid, wi1);
$wi2: map-get($fooWid, wi2);

footer {
    background-color: black;
    color: #f1f1f1;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    position: relative;
    width: $wi1;
.footer__redes {
    width: $wi2;
    height: 2rem;
    cursor: pointer;
}
}