//Nosotros

.contenedor__nosotros {
    .nosotros {
        background-size: cover;
        background-repeat: no-repeat;
        @include sizes (100% , 100%);
        margin-bottom: 2rem;
        transition: 2s;
        box-shadow: 0 0px 10px 10px #111, 0 0 20px #ccc inset;  
        &:hover {
            filter: sepia(60%);
        }
    }
    .nosotros__parrafo {
        @include just-pad;
        color: $color;
        font-size: 20px;
        font-weight: 100;
        line-height: 40px;
    }
}

//MediaQueries

@media (min-width: 480px) {
    .contenedor__nosotros {
        .nosotros {
        @include sizes (70% , 70%);
        text-align: center;
        margin: auto;
        display: block;
        border-radius: 5px;
        box-shadow: 0 0px 10px 10px #111, 0 0 20px #ccc inset;
        }
    }
}
@media (min-width: 1300px) {
    .contenedor__nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    gap: 4rem;
    margin: 3rem;
    align-items: center;
    .nosotros__parrafo {
        font-size: 24px;
    }
    .nosotros {
        @include wi-he;
        text-align: center;
        }
    }
}