* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Germania One', cursive;
  background-position: 100%;
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/inicio3.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/inicio3.jpeg");
  width: 100%;
  height: 100%;
}

.textoNav, header .navBar .textoNav, header .navBar .textoNav .logo__stein {
  list-style: none;
  color: #f1f1f1;
  font-weight: bolder;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navBar {
  padding: .5rem;
  font-family: 'Teko', sans-serif;
  background-color: black;
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

header .navBar .textoNav .logo__stein {
  height: 150px;
  width: 120px;
  display: none;
}

header .navBar .textoNav .textoNav__hijo {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  text-align: center;
}

header .navBar .textoNav .textoNav__hijo:hover, header .navBar .textoNav .textoNav__hijo:focus {
  background-size: 100% 2px;
  color: #ff7300;
}

section .section__titulo {
  text-align: center;
  color: white;
  font-family: 'Teko', sans-serif;
  text-decoration: none;
  font-size: 50px;
  font-weight: 500;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  margin: 3rem;
}

section .contenedor__nosotros {
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
  height: 100%;
  margin-bottom: 3rem;
}

section .contenedor__nosotros .nosotros {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
}

section .contenedor__nosotros .nosotros:hover {
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

section .contenedor__nosotros .nosotros__parrafo {
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
  height: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
}

footer {
  background-color: black;
  color: #f1f1f1;
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 2% 2% 2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 0;
  position: relative;
  width: 100%;
}

footer .footer__redes {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (min-width: 600px) {
  .section__titulo {
    font-size: 100px;
  }
  .section__btn {
    width: 500px;
    font-size: 2.5rem;
  }
  nav .textoNav__hijo {
    font-size: 1rem;
  }
  .textoNav, header .navBar .textoNav, header .navBar .textoNav .logo__stein {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo__stein {
    display: block;
  }
}

@media (min-width: 1024px) {
  nav .textoNav__hijo {
    font-size: 1.7rem;
  }
}

@media (min-width: 480px) {
  .nosotros {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .contenedor__nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
    margin: 3rem;
  }
  .nosotros {
    width: 40rem;
    height: 20rem;
    text-align: center;
    border-radius: 1%;
  }
}
/*# sourceMappingURL=style.css.map */